In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
DATA_DIR = 'data'
TRAIN_FILEPATH = os.path.join(DATA_DIR, 'Datathon_train_data_Saturday.csv')

In [3]:
data_raw = pd.read_csv(TRAIN_FILEPATH)

In [4]:
data_raw.shape

(64181, 9)

In [5]:
data_raw.columns = [column.lower().replace(' ', '_') for column in data_raw.columns]

In [6]:
data_raw.sample(10)

,id,car_type,fuel_type,make,model,odometer_reading,year_of_registration_date,pav,total_repair_cost
13517,3530,Passenger_car,Gasoline,Volkswagen,touran,270707.0,2006.0,3400.0,0.0
43068,17811,Passenger_car,Gasoline,Volkswagen,touran,41358.0,2018.0,16800.0,24230.0
35364,52831,Passenger_car,Gasoline,Ford,NaN,333709.0,1993.0,600.0,1513.0
30795,23980,Passenger_car,Gasoline,mercedes,NaN,107072.0,2014.0,23900.0,13542.0
8760,9984,Passenger_car,Gasoline,Ford,fiesta,200940.0,2009.0,NaN,5821.0
8893,83318,Passenger_car,Diesel,BMW,1 er,195000.0,2013.0,12200.0,10854.0
60582,67232,Passenger_car,Gasoline,Volkswagen,Polo,95288.0,2002.0,2600.0,2117.0
57889,6588,Other,Gasoline,NaN,NaN,107390.0,2012.0,8400.0,9399.0
2075,40821,Passenger_car,Gasoline,Mitsubishi,colt,77516.0,2010.0,3750.0,2809.0
13522,30463,Passenger_car,Gasoline,Suzuki,grand vitara,49622.0,2000.0,NaN,1291.0

In [7]:
data_raw.dtypes

id                             int64
car_type                      object
fuel_type                     object
make                          object
model                         object
odometer_reading             float64
year_of_registration_date    float64
pav                          float64
total_repair_cost            float64
dtype: object

In [8]:
data_raw.describe()

,id,odometer_reading,year_of_registration_date,pav,total_repair_cost
count,64181.000000,6.320000e+04,63955.000000,5.889400e+04,62299.000000
mean,45923.967732,1.742280e+10,2008.338832,9.541848e+03,9151.546879
std,26469.905566,3.997622e+12,8.934258,7.865586e+04,14295.423908
min,1.000000,0.000000e+00,1096.000000,-1.080000e+04,0.000000
25%,23086.000000,6.766100e+04,2005.000000,2.900000e+03,3171.000000
50%,45920.000000,1.247240e+05,2009.000000,5.900000e+03,5667.000000
75%,68940.000000,1.856438e+05,2013.000000,1.100000e+04,10295.000000
max,91685.000000,1.000000e+15,3013.000000,1.880040e+07,914519.000000

In [9]:
#sns.sample(10000).pairplot(data)

In [10]:
#data_raw['odometer_reading'].hist()

# Huge Odometer

In [11]:
#data_raw.Make[data_raw.Make.isnull()] = 'kj'

In [13]:
data_raw.sort_values('odometer_reading', ascending=False).head(30)

,id,car_type,fuel_type,make,model,odometer_reading,year_of_registration_date,pav,total_repair_cost
26668,55338,Passenger_car,unknown,NaN,NaN,1.000000e+15,2003.0,7500.0,14000.0
14416,57981,Other,unknown,NaN,NaN,1.000000e+14,2011.0,9460.0,9300.0
55845,24085,Other,unknown,NaN,NaN,1.000000e+12,2007.0,8270.0,5502.0
7848,34223,Other,unknown,NaN,NaN,1.000000e+11,2007.0,35700.0,16657.0
5152,83757,Other,unknown,NaN,NaN,1.010101e+10,2017.0,41650.0,49100.0
17632,54168,Other,unknown,NaN,NaN,1.111111e+09,2014.0,14000.0,30000.0
21577,43986,Other,unknown,NaN,NaN,1.000000e+09,2016.0,17600.0,7442.0
46469,17445,Other,unknown,NaN,NaN,1.000000e+08,2013.0,12971.0,13958.0
48721,22059,Other,NaN,NaN,NaN,1.000000e+08,1996.0,3750.0,3912.0
18330,7258,Passenger_car,Gasoline,Opel,corsa,9.793945e+07,2000.0,1900.0,6345.0
1969,55716,Passenger_car,unknown,NaN,NaN,1.010101e+07,1991.0,4800.0,7600.0
15963,35933,Other,unknown,NaN,NaN,9.999999e+06,2010.0,19040.0,19005.0
26240,46851,Other,unknown,NaN,NaN,9.999999e+06,2008.0,5200.0,8500.0
56714,37884,Other,unknown,NaN,NaN,9.999999e+06,2017.0,60095.0,40687.0
62738,54181,Other,unknown,NaN,NaN,9.999996e+06,1982.0,4879.0,6500.0
57825,61785,Truck_transporter_bus,Diesel,Mercedes-Benz,Sprinter,4.631645e+06,2002.0,4500.0,4398.0
33022,84265,Passenger_car,Diesel,MERCEDES,E 200,3.298263e+06,2004.0,4650.0,3031.0
63694,29530,Passenger_car,Gasoline,Volkswagen,golf,2.755335e+06,1993.0,1500.0,10084.0
5928,74054,Passenger_car,Gasoline,Honda,Civic,2.120212e+06,1999.0,1500.0,8403.0
60142,80945,Passenger_car,Gasoline,Opel,Corsa,2.099934e+06,2001.0,800.0,1296.0
10056,72777,Passenger_car,Gasoline,Renault,Clio,2.014245e+06,2003.0,1750.0,3169.0
57865,66938,Passenger_car,Gasoline,Toyota,Corolla,1.920250e+06,2001.0,NaN,2227.0
41317,88416,Passenger_car,Gasoline,Hyundai,Getz,1.907528e+06,2007.0,1900.0,3683.0
3501,11623,Truck_transporter_bus,Diesel,NaN,NaN,1.894853e+06,2002.0,8925.0,12500.0
961,37762,Passenger_car,Gasoline,Skoda,NaN,1.785850e+06,2008.0,4450.0,4589.0
8711,86706,Passenger_car,Gasoline,Peugeot,PEUGEOT 206,1.539889e+06,2004.0,690.0,848.0
4341,36673,Truck_transporter_bus,Diesel,NaN,NaN,1.534121e+06,2006.0,17850.0,10157.0
42531,69061,Truck_transporter_bus,Diesel,Daimler,Other,1.525560e+06,2012.0,10115.0,40000.0
50751,89616,Truck_transporter_bus,Diesel,Volvo,Other,1.505141e+06,2007.0,11900.0,10698.0
28601,84980,Truck_transporter_bus,Diesel,NaN,NaN,1.440919e+06,2005.0,0.0,100000.0

# Count of car types

In [ ]:
car_type_counts = data_raw[['car_type']].groupby(['car_type']).apply(pd.Series.count)

In [ ]:
plt.pie(car_type_counts, labels=car_type_counts.index)
plt.title('car_type')
print('') # print to avoid the output from chart

In [ ]:
median_odometer_by_car_type = data_raw[['odometer_reading', 'car_type']].groupby(['car_type']).median().reset_index()
median_odometer_by_car_type

In [ ]:
sns.barplot(x='odometer_reading', y='car_type', data=median_odometer_by_car_type) \
    .set_title('Odometer Reading by Car Type')

# Missing Values

In [ ]:
data_raw.isnull().sum()

In [ ]:
null_make = data_raw[data_raw['make'].isnull()]
model_when_null_make = null_make[null_make['model'].notnull()]
print('all models are null when make is null')

# Clean Data

In [ ]:
data = data_raw

## Cleanup outliers on odometer

In [ ]:
odometer_readings_greater_than_one_million = data['odometer_reading'][data['odometer_reading'] >= 1000000]
len(odometer_readings_greater_than_one_million)

In [ ]:
weird_odomoter = [
    odometer_readings_greater_than_one_million,
]

In [ ]:
data = data.drop(odometer_readings_greater_than_one_million.index)
data.shape